.container{
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 30px;
}
.avatar{
    height: 10vh;
    width: 5vw;
    border-radius: 45px;
    padding: 15px;
    box-sizing: 0px;

}
.name_container{
    margin-left: 12px;
}
.name{
    font-size: 18px;
    font-family: "Roboto";
    color: black;
    margin-bottom: 8px;
    margin-top: 0px;
}
.role{
    font-size: 14px;
    font-family: "Roboto";
    color: black;
    margin: 0px;
}